<h1 class="newalbum">New Albums</h1>

<%= form_with url: user_albums_path do |form| %>
  <div class="field">
      <div class="row">
        <div class="col-md-4 offset-4">
          <%= form.label :title %><br />
          <%= form.text_field :title, :class => 'form-control' %>
          <% @album.errors.full_messages_for(:title).each do |message| %>
          <div><%= message %></div>
          <% end %>
        </div>
      </div>
  </div>
  <div class="field">
      <div class="row">
        <div class="col-md-4 offset-4">
          <%= form.label :description %><br />
          <%= form.text_area :description, :class => 'form-control' %>
          <% @album.errors.full_messages_for(:description).each do |message| %>
          <div><%= message %></div>
          <% end %>
        </div>
      </div>
  </div>
  <div>

  <div class="field">
    <div class="row">
      <div class="col-md-4 offset-4">
        <%= form.submit "Create", :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
