<div class="showhead-1">
  <h1><%= @album.title %></h1>
</div>
<div class="showhead">
  <div class="showhead-2">
    <h2>Add a Photos</h2>
    <%= form_with url: user_album_images_path(album_id: @album.id)  do |form| %>
      <p>
        <%= form.file_field :image %>
      </p>
  </div>
  <div>
    <h2>Name of Photos</h2>
      <p>
        <%= form.text_field :name %>
      </p>
  </div>
  <div>
    <h2>Add Photo Tags</h2>
    <p>
      <%= form.text_field :all_tags %>
    </p>
  </div>
  <div>
    <h2>Save Photo</h2>
    <h3 class="submitimg">
      <%= form.submit %>
    </h3>
  </div>
  <% end %>
</div>

<h2 id="phototitle"><%=@album.title%> Photos</h2>
<% @album.images.each do |photo| %>
  <div class="gallery">
    <% if photo.image.attached? %>
      <p>
        <%= image_tag(photo.pics)%>
      </p>
      <h4><%= photo.name%></h4>
      <h6><%= photo.all_tags%></h6>  
      <h5>
        <%= link_to "Delete",user_album_image_path(photo,user_id: current_user.id), :method => :delete %>
      </h5>  
    <% end %> 
  </div>
<% end %>
